[submodule "Stella_X/sketchbook/libraries/Motor"]
	path = Stella_X/sketchbook/libraries/Motor
	url = https://github.com/xlcteam/Motor.git
[submodule "Stella_X/sketchbook/libraries/PixyViSy"]
	path = Stella_X/sketchbook/libraries/PixyViSy
	url = https://github.com/xlcteam/PixyViSy.git
[submodule "Stella_X/sketchbook/libraries/pixy"]
	path = Stella_X/pixy-submodule
	url = https://github.com/charmedlabs/pixy.git
[submodule "Stella_X/sketchbook/libraries/vic"]
	path = Stella_X/sketchbook/libraries/vic
	url = https://github.com/xlcteam/vic.git
[submodule "Stella_X/sketchbook/libraries/RelativeHMC6352"]
	path = Stella_X/sketchbook/libraries/RelativeHMC6352
	url = https://github.com/xlcteam/RelativeHMC6352.git
[submodule "Stella_X/sketchbook/libraries/Buttons"]
	path = Stella_X/sketchbook/libraries/Buttons
	url = https://github.com/vargac/Buttons
